
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  a {
    text-decoration: none;
    color: #555;
  }
  
  // Homepage styles
  .navbar {
    height: 15vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  
  .center {
    margin: 0 10%;
    height: 100%;
  
    display: flex;
    justify-content: space-between;
  
    .left {
      flex-basis: 30rem; // width
  
      display: flex;
  
      .img__container {
        height: 100%;
        width: 15rem;
  
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
  
      .left__links {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: 1rem;
  
        a:last-child {
          margin-left: 1rem;
        }
      }
    }
  
    .right {
      flex-basis: 15rem;
  
      .one {
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        height: 40%;
      }
  
      .two {
        height: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
  
        .img__container {
          height: 2rem;
          width: 2rem;

          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
  
  // Carousel Styles
  
//   .carousel {
//     border: 1px solid red;
//     height: 50vh;

    *, *::before, *::after {
        box-sizing: border-box;
      }
      
      body {
        margin: 0;
      }
      
      .carousel {
        width: 100vw;
        height: 100vh;
        position: relative;
      }
      
      .carousel > ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
      }
      
      .slide > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      
      .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
      }
      
      .carousel-button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 4rem;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, .1);
      }
      
      .carousel-button:hover,
      .carousel-button:focus {
        color: white;
        background-color: rgba(0, 0, 0, .2);
      }
      
      .carousel-button:focus {
        outline: 1px solid black;
      }
      
      .carousel-button.prev {
        left: 1rem;
      }
      
      .carousel-button.next {
        right: 1rem;
      }
//   }



  //category list
  
  .category__list {
    .category {
      height: 25rem;
      display: flex;
    
    }

    

    .img__container{
        order: 1;
        // border: 4px solid black;
        height: 100%;
        width: 100%;
        // padding-left: 100px;

        img{
            // width: 100%;
            // height: 100%;
            // height: 100%;
            // height: 70%;
            width: 80%;
            object-fit: cover;
            
        }
    }

    .category__desc{
        order: 2;
        display: flex ;
        justify-content: center;
        align-items:center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        
        .category__desc_1{
            font-size: 20px;
            padding: 10px 0;
            font-weight: 700;
        }

        p{
            padding: 10px 0;
            text-transform: capitalize;
        }

        .btn-one{
            text-transform: capitalize;
            padding: 10px 0;
            background-color: crimson;
            border: none;
            cursor: pointer;
        }
    }



    // category 2
    // .category {
    //     height: 25rem;
    //     display: flex;
      
    //   }

    
  
    //   .img__container{
    //       order: 2;
    //       // border: 4px solid black;
    //       height: 100%;
    //       width: 100%;
    //       // padding-left: 100px;
  
    //       img{
    //           // width: 100%;
    //           // height: 100%;
    //           // height: 100%;
    //           // height: 70%;
    //           width: 80%;
    //           object-fit: cover;
              
    //       }
    //   }
  
    //   .category__desc{
    //       order: 1;
    //       display: flex ;
    //       justify-content: center;
    //       align-items:center;
    //       flex-direction: column;
    //       height: 100%;
    //       width: 100%;
          
    //       .category__desc_1{
    //           font-size: 20px;
    //           padding: 10px 0;
    //           font-weight: 700;
    //       }
  
    //       p{
    //           padding: 10px 0;
    //           text-transform: capitalize;
    //       }
  
    //       .btn-one{
    //           text-transform: capitalize;
    //           padding: 10px 0;
    //           background-color: crimson;
    //           border: none;
    //           cursor: pointer;
    //       }
    //   }

    
  

  }
  
  
  // .category -> flex
  // .img__container -> order: 1
  // .category__desc -> order: 2
  
  // .category -> flex
  // .img__container -> order: 2
  // .category__desc -> order: 1


// footer

.footer{
    height: 3rem;
    // border: 1px solid red;
    text-align: center;
    background-color: #eee5e5;
}